.DS_Store
RickAndMortyAPI.xcodeproj/project.xcworkspace/xcuserdata/donatbajrami.xcuserdatad/UserInterfaceState.xcuserstate
RickAndMortyAPI.xcodeproj/project.xcworkspace/xcuserdata/donatbajrami.xcuserdatad/UserInterfaceState.xcuserstate
